[Desktop Entry]
Name=WinVX Clipboard
Comment=Windows 11 style clipboard manager (Win+V)
Exec=winvx
Icon=edit-paste
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
